<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">

            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            {% include 'IsometriksSymEditBundle::brand.html.twig' %}
            
            <div class="nav-collapse">
                {% if app.user and is_granted('ROLE_ADMIN') %}
                <ul class="nav">
                    {% if is_granted('ROLE_ADMIN_PAGE') %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('admin_page') }}"><i class="icon-file"></i> List All</a></li>
                            <li><a href="{{ path('admin_page_new') }}"><i class="icon-edit"></i> Create New</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    
                    {% if is_granted('ROLE_ADMIN_BLOG') %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('admin_blog') }}"><i class="icon-th-list"></i> List All</a></li>
                            <li><a href="{{ path('admin_blog_new') }}"><i class="icon-edit"></i> Create New</a></li>
                            <li><a href="{{ path('admin_blog_category') }}"><i class="icon-tags"></i> Categories</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    
                    {% if is_granted('ROLE_ADMIN_IMAGE') %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Images <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('admin_image_slider') }}"><i class="icon-film"></i> Sliders</a></li>
                            <li><a href="{{ path('admin_image') }}"><i class="icon-picture"></i> View All</a></li>
                            <li><a href="{{ path('admin_image_new') }}"><i class="icon-upload"></i> Upload</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    
                    {% if is_granted('ROLE_ADMIN_SETTING') or is_granted('ROLE_ADMIN_USER') or is_granted('ROLE_ADMIN_STYLIZER') %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Site <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% if is_granted('ROLE_ADMIN_SETTING') %}
                            <li><a href="{{ path('admin_setting') }}"><i class="icon-cog"></i> Settings</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN_STYLIZER') %}
                            <li><a href="{{ path('admin_stylizer') }}"><i class="icon-magic"></i> Stylizer</a></li>
                            {% endif %}                                
                            {% if is_granted('ROLE_ADMIN_USER') %}
                            <li><a href="{{ path('admin_user') }}"><i class="icon-user"></i> Users</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                    
                    {% block nav_extensions %}
                    {% if extensions is defined and extensions|length > 0 %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Extensions <b class="caret"></b></a>
                        <ul class="dropdown-menu">                 
                        {% for extension in extensions %}
                            <li>
                                <a href="{{ path(extension.route) }}">
                                    {% if extension.icon %}
                                        <i class="{{ extension.icon }}"></i>
                                    {% endif %}
                                    {{ extension.label }}
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    {% endblock %}
                    
                    {% block nav_extend %}{% endblock %}
                </ul>

                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.fullname }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_profile_show') }}"><i class="icon-user"></i> Profile</a></li>
                            <li><a href="{{ path('fos_user_change_password') }}"><i class="icon-lock"></i> Change Password</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-off"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>