<li class="active">
    <a href="#basic" data-toggle="tab">
        <i class="icon-info-sign"></i> {{ 'admin.page.tabs.basic'|trans({}, 'SymEdit') }}
    </a>
</li>
<li>
    <a href="#template" data-toggle="tab">
        <i class="icon-columns"></i>
        {{ 'admin.page.tabs.template'|trans({}, 'SymEdit') }}
    </a>
</li>
<li>
    <a href="#seo" data-toggle="tab">
        <i class="icon-search"></i>
        {{ 'admin.page.tabs.seo'|trans({}, 'SymEdit') }}
    </a>
</li>
<li>
    <a href="#page_content" data-toggle="tab">
        <i class="icon-file"></i>
        {{ 'admin.page.tabs.content'|trans({}, 'SymEdit') }}
    </a>
</li>
<li>
    <a href="#advanced" data-toggle="tab">
        <i class="icon-cogs"></i>
        {{ 'admin.page.tabs.advanced'|trans({}, 'SymEdit') }}
    </a>
</li>