    <ul class="nav nav-tabs">
        <li class="active"><a href="#basic" data-toggle="tab">{{ 'admin.page.tabs.basic'|trans({}, 'SymEdit') }}</a></li>
        <li><a href="#template" data-toggle="tab">{{ 'admin.page.tabs.template'|trans({}, 'SymEdit') }}</a></li>
        <li><a href="#seo" data-toggle="tab">{{ 'admin.page.tabs.seo'|trans({}, 'SymEdit') }}</a></li>
        <li><a href="#page_content" data-toggle="tab">{{ 'admin.page.tabs.content'|trans({}, 'SymEdit') }}</a></li>
        <li><a href="#advanced" data-toggle="tab">{{ 'admin.page.tabs.advanced'|trans({}, 'SymEdit') }}</a></li>
    </ul>