{% extends '@SymEdit/Admin/base.html.twig' %}

{% block title %}Users &raquo; List{% endblock %}

{% block actions %}
    <a class="btn btn-primary" href="{{ path('admin_user_create') }}">
        {{ icon('plus') }}
        Create New User
    </a>
{% endblock %}

{% block content %}
<h4>Listing Users</h4>

<table class="table table-striped">
    <tr>
        <th>Username</th>
        <th>Name</th>
        <th width="120">Actions</th>
    </tr>
    {% for user in users %}
        <tr>
            <td>{{ icon('user') }} {{ user.username }}</td>
            <td>{{ user.profile.fullname }}</td>
            <td>
                <a class="btn btn-success btn-sm" href="{{ path('admin_user_show', {id:user.id}) }}">Show</a>
                <a class="btn btn-primary btn-sm" href="{{ path('admin_user_update', {id:user.id}) }}">Edit</a>
            </td>
        </tr>
    {% endfor %}
</table>

<div>
    {{ pagerfanta(users) }}
</div>
{% endblock %}
