{% extends '@SymEdit/Admin/base.html.twig' %}

{% block title %}Users &raquo; {{ user.username }}{% endblock %}

{% block content %}

<h3>{{ user.profile.fullname }} aka "{{ user.username }}"</h3>

<table class="table table-bordered">
    <tr>
        <th>Username:</th>
        <td>{{ user.username }}</td>
    </tr>
    <tr>
        <th>Email:</th>
        <td>{{ user.email }}</td>
    </tr>
</table>

<h4>Roles</h4>

<ul>
    {% for role in user.roles %}
    <li>{{ role }}</li>
    {% endfor %}
</ul>

<a class="btn btn-primary" href="{{ path('admin_user_update', {id:user.id}) }}">Edit User</a>
{% endblock %}
