{% macro tree(node, active, counts) %}
  {% if node.children|length > 0 %}
  <ul>
      {% for child in node.children %}
          <li{% if active is not null and active == child %} class="active"{% endif %}>
              <a href="{{ path('blog_category_view', {slug:child.slug}) }}">
                  {% if counts %}<span class="badge badge-info">{{ child.total }}</span>{% endif %} {{ child.title }}
              </a>
              {{ _self.tree( child, active, counts ) }}
          </li>
      {% endfor %}
  </ul>
  {% endif %}
{% endmacro %}

<div class="category-list">
    {{ _self.tree(root, Category|default(null), counts) }}
</div>
