{% extends '@SymEdit/Admin/tabbed.html.twig' %}
{% import '@SymEdit/Admin/UI/macro.html.twig' as UI %}
{% use '@SymEdit/Admin/Page/form.html.twig' %}

{% block title %}Pages &raquo; {{ page.title }} &raquo; Edit{% endblock %}

{% block actions %}
    <a href="{{ path(page.route) }}" class="ui small labeled icon blue button">
        <i class="world icon"></i>
        {{ 'symedit.form.page.actions.view'|trans }}
    </a>

    <a href="{{ path('admin_page_history', {'id': page.id}) }}" class="ui small orange labeled icon button">
        <i class="history icon"></i>
        {{ 'symedit.history.view'|trans }}
    </a>
{% endblock %}

{% block form_actions %}
    {{ UI.save_button('symedit.form.page.actions.save') }}

    {% if not page.homepage %}
        {{ UI.delete_button('page_delete', 'symedit.form.page.actions.delete') }}
    {% endif %}
{% endblock %}

{% block extra %}
    {% if not page.homepage %}
        {{ UI.delete_form('page_delete', path('admin_page_delete', {id: page.id})) }}
    {% endif %}
{% endblock %}