{% extends '@SymEdit/Admin/base.html.twig' %}

{% block content_container %}
<div class="container">
    <div id="content" class="has-sidebar">
        {{ block('content') }}
    </div>
</div>
{% endblock %}


{% block content %}
{% if form is defined %}
{{ form_start(form, {attr: {class: 'form-horizontal'}}) }}
{% endif %}

    <div class="row">
        <div class="col-lg-2 col-md-3">
            {% block sidebar %}
            <div id="sidebar" class="affix-top">
                {% block tabs %}
                {% if form is defined %}
                {{ form_tabs(form) }}
                {% endif %}
                {% endblock %}

                <div class="actions">
                    {% block form_actions %}{% endblock %}
                </div>
            </div>
            {% endblock %}
        </div>

        <div class="col-lg-10 col-md-9">
            {% block tab_content %}
            {% if form is defined %}
            {{ form_widget(form) }}
            {% endif %}
            {% endblock %}
        </div>

{% if form is defined %}
{{ form_end(form) }}
{% endif %}
{% block extra %}{% endblock %}
{% endblock %}