{% extends '{{{ bundle }}}:Page:base.html.twig' %}


{% block content_container %}
<div id="content">
    <div class="container">
        {{ block('breadcrumbs') }}
        {{ block('heading') }}
        
        <div>
            {% content Page.content %}
        </div>
    </div>

    {% if Settings.company.address is not empty %}
    <div class="gmap-full">
        {% include '{{{ bundle }}}:CMS:map.html.twig' with { width: '100%', height: '300px' } %}
    </div>
    {% endif %}

    <div class="container">
    {% block content %}
        <div class="row-fluid">
            <div class="span6">
                <h4>Our Contact Details</h4>
                <address>
                    <p>
                        <strong>{{ Settings.company.name }}</strong> <br>
                        {{ Settings.company.address|nl2br }} 
                    </p>
                    
                    <p>
                        {% if Settings.company.phone %}
                        <span class="circle-icon">
                            <i class="icon-phone"></i>
                        </span> 
                        {{ Settings.company.phone }} <br>
                        {% endif %}

                        {% if Settings.company.fax %}
                        <span class="circle-icon">
                            <i class="icon-book"></i>
                        </span>
                        {{ Settings.company.fax }} <br>
                        {% endif %}

                        {% if Settings.company.email %}
                        <span class="circle-icon">
                            <i class="icon-envelope"></i> 
                        </span>
                        <a href="mailto:{{ Settings.company.email }}">{{ Settings.company.email }}</a>
                        {% endif %}
                    </p>
                </address>
            </div>

            <div class="span6">
                <h4>Send us a message</h4>
                
                <form method="post">
                    <div class="row-fluid">
                        <div class="span4">
                            <h6>Name*</h6>
                            {{ form_widget(form.name, { attr: { class: 'span12'}}) }}
                        </div>
                            
                        <div class="span4">
                            <h6>Email</h6>
                            {{ form_widget(form.email, { attr: { class: 'span12'}}) }}
                        </div>
                           
                        <div class="span4">
                            <h6>Phone*</h6>
                            {{ form_widget(form.phone, { attr: { class: 'span12'}}) }}
                        </div>
                    </div>
                    
                    <h6>Your Message*</h6>
                    
                    {{ form_widget(form.message, { attr: { rows: 5, class: 'span12' }}) }}
                    
                    {{ form_rest(form) }}
                    
                    <div class="form-actions">
                        <button type="submit" class="btn">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}
    </div>
</div>
{% endblock %}
