{% extends '@SymEdit/Admin/base.html.twig' %}

{% block title %}Form Builder &raquo; List{% endblock %}

{% block actions %}
<a class="btn btn-primary" href="{{ path('admin_form_create') }}">
    {{ icon('plus') }}
    {{ 'symedit.form.form_builder.actions.new'|trans }}
</a>
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Legend</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for form_builder in form_builders %}
            <tr>
                <td>{{ form_builder.legend }}</td>
                <td>{{ form_builder.name }}</td>
                <td>
                    <a class="btn btn-default btn-sm" href="{{ path('admin_form_show', { 'id': form_builder.id }) }}">
                        {{ icon('reorder') }}
                        {{ 'symedit.form.form_builder.actions.manage'|trans }}
                    </a>
                    <a class="btn btn-primary btn-sm" href="{{ path('admin_form_update', { 'id': form_builder.id }) }}">
                        {{ icon('pencil') }}
                        Edit
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
        {{ pagerfanta(form_builders) }}
    </div>
{% endblock %}
