{% if app.user is not null and is_granted('ROLE_ADMIN_EDITABLE') %}
{% block symedit_editable %}
    <div id="symedit-toolbar">
        <a href="{{ path('admin_page_edit', {id: Page.id}) }}" class="btn btn-info">Admin</a>
    </div>
    
{% stylesheets '@IsometriksSymEditBundle/Resources/less/editable/editable.less' %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    <script>
        var imageGetJson = "{{ path('admin_image_json') }}"; 
    </script>
    <script src="{{ asset('bundles/isometrikssymedit/js/editable/editable.js') }}"></script>
    
    {% for script in editable_scripts() %}
        <script src="{{ asset(script) }}"></script>
    {% endfor %}
        
    {% for sheet in editable_sheets() %}
        <link rel="stylesheet" href="{{ asset(sheet) }}" />
    {% endfor %}
{% endblock %}
{% endif %}