{% extends '@SymEdit/Admin/tabbed.html.twig' %}
{% import '@SymEdit/Admin/macro.html.twig' as macro %}

{% block title %}Gallery &raquo; Item &raquo; Edit{% endblock %}

{% block form_actions %}
<a class="btn btn-info" href="{{ path('admin_image_gallery_update', {id: gallery_item.gallery.id }) }}">
    {{ icon('arrow-left') }}
    Back to Gallery
</a>

<button class="btn btn-primary" type="submit">
    {{ icon('save') }}
    Save Item
</button>

{{ macro.delete_button('gallery_item_delete', 'Delete Item') }}
{% endblock %}

{% block extra %}
{{ macro.delete_form('gallery_item_delete', path('admin_gallery_item_delete', {id: gallery_item.id})) }}
{% endblock %}
