{% extends 'IsometriksSymEditBundle::form.html.twig' %}

{% block title %}Login to SymEdit{% endblock %}

{% block content %}
{% if error %}
<div class="alert">{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<form id="login-form" class="well span3" action="{{ path("fos_user_security_check") }}" method="post">

    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />


    <div class="input-prepend">
        <span class="add-on"><i class="icon-user"></i></span>
        <input type="text" id="username" class="span3" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}">
    </div>

    <div class="input-prepend">
        <span class="add-on"><i class="icon-lock"></i></span>
        <input type="password" class="span3" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" />
    </div>

    {#<div class="clearfix">
        <div class="pull-right">
        <label class="checkbox">
            {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }} 
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        </label>
        </div>
    </div>#}

    <div class="form-actions">
        <button class="btn btn-primary" type="submit" id="_submit" name="_submit">
            <i class="icon-unlock"></i>
            {{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}
        </button>
        <a href="{{ path('fos_user_resetting_request') }}">Forgot Password</a>
    </div>
</form>
{% endblock %}