{% extends '@SymEdit/Admin/base.html.twig' %}

{% block title %}Blog &raquo; List{% endblock %}

{% block content %}

<a class="pull-right btn btn-primary" href="{{ path('admin_post_create') }}">
    {{ icon('plus') }}
    Create New Post
</a>

<h1>Listing Posts</h1>

<table class="table records_list">
    <thead>
        <tr>
            <th>Title</th>
            <th>Posted</th>
            <th>Categories</th>
            <th>Slug</th>
            <th width="60">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for post in posts %}
            <tr>
                <td><a href="{{ path('admin_post_update', { 'id': post.id }) }}">{{ post.title }}</a></td>
                <td>{{ post.createdAt|date('F j, Y') }}</td>
                <td>
                    {% for category in post.categories %}
                        <span class="label">{{ category.title }}</span>
                    {% endfor %}
                </td>
                <td>{{ post.slug }}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{{ path('admin_post_update', { 'id': post.id }) }}">Edit</a>
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>

    <div>
        {{ pagerfanta(posts) }}
    </div>

{% endblock %}