{% extends 'IsometriksSymEditBundle::base.html.twig' %}

{% block title %}Blog &raquo; List{% endblock %}

{% block content %}
<table class="table records_list">
    <thead>
        <tr>
            <th>Title</th>
            <th>Posted</th>
            <th>Categories</th>
            <th>Slug</th>
            <th width="60">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_blog_edit', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                <td>{{ entity.createdAt|date('F j, Y') }}</td>
                <td>
                    {% for category in entity.categories %}
                        <span class="label">{{ category.title }}</span>
                    {% endfor %}
                </td>
                <td>{{ entity.slug }}</td>
                <td>
                    <a class="btn btn-primary btn-small" href="{{ path('admin_blog_edit', { 'id': entity.id }) }}">Edit</a>
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('admin_blog_new') }}">Create New Post</a>

{% endblock %}