{% extends 'IsometriksSymEditBundle::tabbed.html.twig' %}

{% block title %}Blog &raquo; New{% endblock %}

{% block action %}{{ path('admin_blog_create') }}{% endblock %}

{% block tabs %}
<li class="active"><a href="#basic" data-toggle="tab">Basic</a></li>
<li><a href="#post-seo" data-toggle="tab">SEO</a></li>
<li><a href="#post-summary" data-toggle="tab">Summary</a></li>
<li><a href="#post-content" data-toggle="tab">Content</a></li>
{% endblock %}
    
{% block tab_content %}
<div class="tab-pane active" id="basic">
    {{ form_row(form.title) }}
    {{ form_row(form.author) }}
    {{ form_row(form.status) }}
    {{ form_row(form.image.file, {label: 'Featured Image'}) }}
    {{ form_row(form.categories) }}
</div>

<div class="tab-pane" id="post-seo">
    {{ form_widget(form.seo) }}
</div>           

<div class="tab-pane" id="post-summary">
    {{ form_widget(form.summary) }}
</div>

<div class="tab-pane" id="post-content">
    {{ form_widget(form.content) }}
</div>
{% endblock %}
    
{% block form_actions %}
<button class="btn btn-primary btn-block" type="submit">Add Post</button>
{% endblock %}