{% set span = span|default('col-sm-3') %}

<div class="row">
    <div class="{{ span }}">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{ icon('file') }}
                    Most Popular Pages
                </h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                {% for page in popularPages %}
                    <a target="_blank" class="list-group-item" href="{{ path(page.route) }}">
                        <span class="badge">{{ page.views }}</span>
                        {{ page.title }}
                    </a>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="{{ span }}">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{ icon('pencil') }}
                    Most Popular Posts
                </h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                {% for post in popularPosts %}
                    <a target="_blank" class="list-group-item" href="{{ path('blog_slug_view', {slug: post.slug}) }}">
                        <span class="badge">{{ post.views }}</span>
                        {{ post.title }}
                    </a>
                {% else %}
                    <div class="list-group-item">No Posts to Display</div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>