{% extends '@SymEdit/Email/base.html.twig' %}


{% block subject %}{{ sylius_settings('company')['name'] }} - New User Created - {{ templateVars.user.profile.fullname }}{% endblock %}

{% block content %}
    <h4>{{ sylius_settings('company')['name'] }},</h4>

    <p>
        A new user {{ templateVars.user.profile.fullname }} ({{ templateVars.user.username }}) has just confirmed their account on your site.
    </p>
{% endblock %}
