<div id="flash">
    {% for url in app.session.flashbag.get('share')|default([]) %}
        <div class="flash-message share">
            <div class="share-text">{{ 'symedit.flash.share'|trans }}</div>
            <div class="addthis_toolbox addthis_default_style" addthis:url="{{ url }}">
                <a class="addthis_button_preferred_1"></a>
                <a class="addthis_button_preferred_2"></a>
                <a class="addthis_button_preferred_3"></a>
                <a class="addthis_button_compact"></a>
            </div>
        </div>
    {% endfor %}

    {% for message in app.session.flashbag.get('success')|default([]) %}
        <div class="flash-message message">
            {{ icon('thumbs-up') }} {{ message|trans }}
        </div>
    {% endfor %}


    {% for message in app.session.flashbag.get('error')|default([]) %}
        <div class="flash-message error">
            {{ icon('warning-sign') }} {{ message|trans }}
        </div>
    {% endfor %}
</div>
