<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}SymEdit{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="{{ asset('bundles/symedit/img/favicon.ico') }}" />
        {% block stylesheets %}
        {% stylesheets
            'bundles/symedit/redactor/redactor.css'
            'bundles/symedit/css/font-awesome.min.css'
            '@SymEditBundle/Resources/less/admin/bootstrap/bootstrap.less'
            '@SymEditBundle/Resources/less/admin/admin.less'
            '@symedit_stylesheets'
            filter="cssrewrite" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link href='https://fonts.googleapis.com/css?family=Raleway|Open+Sans' rel='stylesheet' type='text/css'>
        {% endblock %}
    </head>
    <body>
        <div id="header">
            <div id="global">
                <div class="hidden-sm hidden-xs">
                    {{ mopa_bootstrap_menu('symedit_admin_user') }}
                </div>

                {% block brand %}
                    {% include '@SymEdit/Admin/brand.html.twig' %}
                {% endblock %}

                <div id="title">
                    {{ mopa_bootstrap_icon('chevron-right') }}
                    &nbsp;
                    {{ block('title') }}
                </div>
            </div>
        </div>

        {% block flash %}
            {% include '@SymEdit/Admin/flash.html.twig' %}
        {% endblock %}

        {% block navbar %}
            <div id="menu">
                {{ mopa_bootstrap_menu('symedit_admin', { 'template': '@SymEdit/Admin/menu.html.twig' }) }}
            </div>
        {% endblock %}

        {% block content_container %}
            <div id="content">
                <div class="container-fluid">
                    <div class="clearfix">
                        <div class="form-buttons">
                            {% block form_actions %}{% endblock %}
                            {% block actions %}{% endblock %}
                        </div>
                    </div>

                    <div class="background-well">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}

        {% javascripts
            'bundles/symedit/js/jquery-1.10.2.min.js'
            'bundles/symedit/js/*.js'
            'bundles/symedit/redactor/redactor.min.js'
            'bundles/symedit/redactor/plugins/*.js'
            'bundles/symedit/js/snippets/*.js'
            '@symedit_javascripts'
        %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js"></script>
        <script>
            Isometriks.redactor_options.imageManagerJson    = {{ path('admin_image_json')|json_encode|raw }};
            Isometriks.redactor_options.imageUpload         = {{ path('admin_image_quick_upload')|json_encode|raw }};
            Isometriks.redactor_options.fileManagerJson     = {{ path('admin_file_json')|json_encode|raw }};
            Isometriks.redactor_options.fileUpload          = {{ path('admin_file_quick_upload')|json_encode|raw }};
            Isometriks.redactor_options.definedLinks        = {{ path('admin_page_json')|json_encode|raw }};
        </script>
        {% block scripts %}{% endblock %}
    </body>
</html>
