<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}SymEdit{% endblock %}</title>
        {% block stylesheets %}
        {% stylesheets
            'bundles/symedit/redactor/redactor.css'
            '@SymEditBundle/Resources/less/admin/bootstrap/bootstrap.less'
            '@SymEditBundle/Resources/less/admin/admin.less'
            '@symedit_stylesheets'
            filter="cssrewrite" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Raleway|Open+Sans' rel='stylesheet' type='text/css'>
        {% endblock %}
    </head>
    <body>
        <div id="header">
            <div id="global">
                {{ mopa_bootstrap_menu('symedit_admin_user') }}

                {% block brand %}
                    {% include '@SymEdit/Admin/brand.html.twig' %}
                {% endblock %}

                <div id="title">
                    {{ mopa_bootstrap_icon('chevron-right') }}
                    {{ block('title') }}
                </div>
            </div>
        </div>

        {% block flash %}
            {% include '@SymEdit/Admin/flash.html.twig' %}
        {% endblock %}

        {% block navbar %}
            <div id="menu">
                {{ mopa_bootstrap_menu('symedit_admin', { 'template': '@SymEdit/Admin/menu.html.twig' }) }}
            </div>
        {% endblock %}

        {% block content_container %}
            <div id="content">
                <div class="background-well">
                    <div class="container-fluid">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}

        {% javascripts
            'bundles/symedit/js/jquery-1.10.2.min.js'
            'bundles/symedit/js/*.js'
            'bundles/symedit/redactor/redactor.min.js'
            'bundles/symedit/js/snippets/*.js'
            '@symedit_javascripts'
        %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js"></script>
        <script>
            Isometriks.redactor_options.imageGetJson = "{{ path('admin_image_json') }}";
            Isometriks.redactor_options.imageUpload = "{{ path('admin_image_quick_upload') }}";
            Isometriks.redactor_options.predefinedLinks = "{{ path('admin_page_json') }}";
            {% stylesheets '@SymEditBundle/Resources/less/wysiwyg.less' %}
            Isometriks.redactor_iframe.css = '{{ asset_url }}';
            {% endstylesheets %}
        </script>
        {% block scripts %}{% endblock %}
    </body>
</html>
