<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}SymEdit{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="{{ asset('bundles/symedit/img/favicon.ico') }}" />
        {% block stylesheets %}
        {% stylesheets
            'bundles/symedit/redactor/redactor.css'
            'bundles/symedit/css/font-awesome.min.css'
            'bundles/symedit/semantic-ui/semantic.min.css'
            '@SymEditBundle/Resources/less/admin/admin.less'
            '@symedit_stylesheets'
            filter="cssrewrite" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link href='https://fonts.googleapis.com/css?family=Raleway|Open+Sans' rel='stylesheet' type='text/css'>
        {% endblock %}
    </head>
    <body>
        <div id="header">
            <div id="global" class="ui menu">
                {% block brand %}
                    <div id="brand" class="item">
                        {% include '@SymEdit/Admin/brand.html.twig' %}
                    </div>
                {% endblock %}

                <div id="title" class="ui small header item">
                    {{ block('title') }}
                </div>

                {% if app.user %}
                <div class="ui inverted right menu">
                    <div class="ui dropdown item">
                        {{ app.user.profile.fullname }}
                        <i class="dropdown icon"></i>

                        <div class="menu">
                            <a href="{{ path('fos_user_profile_show') }}" class="ui item">
                                {{ 'symedit.security.profile'|trans }}
                            </a>
                            <a href="{{ path('fos_user_change_password') }}" class="ui item">
                                {{ 'symedit.security.change_password'|trans }}
                            </a>
                            <a href="{{ path('fos_user_security_logout') }}" class="ui item">
                                {{ 'symedit.security.logout'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        {% block flash %}
            {% include '@SymEdit/Admin/flash.html.twig' %}
        {% endblock %}

        {% block navbar %}
            <div id="sidebar" class="">
                <div id="menu" class="ui vertical menu sticky inverted">
                    {{ knp_menu_render('symedit_admin', { 'template': '@SymEdit/Admin/Menu/sidebar.html.twig' }) }}
                </div>
            </div>
        {% endblock %}

        {% block content_container %}
            <div id="content">
                <div class="form-buttons ui item small buttons">
                    {% block form_actions %}{% endblock %}
                </div>

                <div class="form-buttons ui item tiny buttons">
                    {% block actions %}{% endblock %}
                </div>

                <div class="ui clearing divider"></div>

                {% block tabs %}{% endblock %}

                <div class="background-well ui bottom attached">
                    {% block content %}{% endblock %}
                </div>
            </div>
        {% endblock %}

        {% javascripts
            'bundles/symedit/js/jquery-1.10.2.min.js'
            'bundles/symedit/js/*.js'
            'bundles/symedit/redactor/redactor.min.js'
            'bundles/symedit/redactor/plugins/*.js'
            'bundles/symedit/js/snippets/*.js'
            'bundles/symedit/semantic-ui/semantic.min.js'
            '@symedit_javascripts'
        %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js"></script>
        <script>
            Isometriks.redactor_options.imageManagerJson    = {{ path('admin_image_json')|json_encode|raw }};
            Isometriks.redactor_options.imageUpload         = {{ path('admin_image_quick_upload')|json_encode|raw }};
            Isometriks.redactor_options.fileManagerJson     = {{ path('admin_file_json')|json_encode|raw }};
            Isometriks.redactor_options.fileUpload          = {{ path('admin_file_quick_upload')|json_encode|raw }};
            Isometriks.redactor_options.definedLinks        = {{ path('admin_page_json')|json_encode|raw }};
        </script>
        {% block scripts %}{% endblock %}
    </body>
</html>
