{% macro delete_button(id, label, class) %}
{% set class = class|default('btn btn-warning') %}
<button data-target="#{{ id }}" data-message="{{ 'admin.resource.confirm_delete'|trans }}" data-toggle="form-forward" class="{{ class }}" type="button">
    {{ icon('trash') }}
    {{ label|trans }}
</button>
{% endmacro %}

{% macro delete_form(id, path) %}
<form id="{{ id }}" method="post" class="form-hidden" action="{{ path }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="confirmed" value="1">
</form>
{% endmacro %}

{% macro patch(url, message, icon, button) %}
<form action="{{ url }}" method="post" novalidate>
    <input type="hidden" name="_method" value="PATCH">
    <button class="btn btn-{{ button|default('success') }}" type="submit">
        {{ icon ? icon(icon) : '' }} <span>{{ message }}</span>
    </button>
</form>
{% endmacro %}