{% extends 'knp_menu.html.twig' %}
{% import 'knp_menu.html.twig' as macros %}

{% block linkElement %}
{% spaceless %}
<a href="{{ item.uri }}"{{ macros.attributes(item.linkAttributes) }}>
    <div class="icon">
    {% if item.extras.icon|default(false) %}
        {{ mopa_bootstrap_icon(item.extras.icon, item.extras.icon_white|default(false)) }}{{ ' ' }}
    {%- endif %}
    </div>

    {{ item.label|trans }}

    {%- if item.extras.caret|default(false) %}
        <b class="caret"></b>
    {% endif -%}
</a>
{% endspaceless %}
{% endblock %}
