{% extends '@SymEdit/Admin/base.html.twig' %}

{% block content_container %}
    <div id="content">
        <div class="container-fluid">
            {{ block('content') }}
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if form is defined %}
        {{ form_start(form) }}
    {% endif %}

    <div class="tab-holder clearfix">
        {% block tabs %}
            {% if form is defined %}
                {{ form_tabs(form) }}
            {% endif %}
        {% endblock %}

        <div class="form-buttons">
            {% block form_actions %}{% endblock %}
        </div>
    </div>


    <div id="tab-content" class="background-well">
        {% block tab_content %}
            {% if form is defined %}
                {{ form_widget(form) }}
            {% endif %}
        {% endblock %}
    </div>

    {% if form is defined %}
        {{ form_end(form) }}
    {% endif %}

    {% block extra %}{% endblock %}
{% endblock %}
