{% extends '@SymEdit/Page/base.html.twig' %}


{% block content_container %}
<div id="content">
    <div class="container">
        {{ block('breadcrumbs') }}
        {{ block('heading') }}

        <div>
            {{ Page.content|raw }}
        </div>
    </div>

    {{ block('featured') }}

    <div class="container">
    {% block content %}
        <div class="row">
            <div class="col-md-6">
                <h4>Our Contact Details</h4>
                <address>
                    <p>
                        <strong>{{ Settings.company.name }}</strong> <br>
                        {{ Settings.company.address|nl2br }}
                    </p>

                    <p>
                        {% if Settings.company.phone %}
                        <span class="circle-icon">
                            <i class="icon-phone"></i>
                        </span>
                        {{ Settings.company.phone }} <br>
                        {% endif %}

                        {% if Settings.company.fax %}
                        <span class="circle-icon">
                            <i class="icon-book"></i>
                        </span>
                        {{ Settings.company.fax }} <br>
                        {% endif %}

                        {% if Settings.company.email %}
                        <span class="circle-icon">
                            <i class="icon-envelope"></i>
                        </span>
                        <a href="mailto:{{ Settings.company.email }}">{{ Settings.company.email }}</a>
                        {% endif %}
                    </p>
                </address>
            </div>

            <div class="col-md-6">
                <h4>Send us a message</h4>

                {{ form_errors(form) }}

                <form method="post">
                    <div class="row">
                        <div class="col-md-4">
                            <h6>Name*</h6>
                            {{ form_widget(form.name) }}
                        </div>

                        <div class="col-md-4">
                            <h6>Email</h6>
                            {{ form_widget(form.email) }}
                        </div>

                        <div class="col-md-4">
                            <h6>Phone*</h6>
                            {{ form_widget(form.phone) }}
                        </div>
                    </div>

                    <h6>Your Message*</h6>

                    {{ form_widget(form.message, { attr: { rows: 5 }}) }}

                    {{ form_rest(form) }}

                    <div class="form-actions">
                        <button type="submit" class="btn btn-default">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}

    {{ block('supplemental') }}
    </div>
</div>
{% endblock %}
