{% extends '@SymEdit/Admin/tabbed.html.twig' %}

{% block title %}Showing Widgets{% endblock %}

{% block tabs %}
<ul class="nav nav-tabs">
    {% for area in areas %}
    <li{% if loop.first %} class="active"{% endif %}>
        <a href="#area_{{ area.area }}" data-toggle="tab">{{ area.area|capitalize }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}


{% block form_actions %}
<a href="{{ path('admin_widget_choose') }}" class="btn btn-primary btn-block">
    {{ icon('plus') }}
    New Widget
</a>
{% endblock %}

{% block tab_content %}
<div class="tab-content">
    {% for area in areas %}
    <section id="area_{{ area.area }}" class="{% if loop.first %}active {% endif %}tab-pane widget-area">
        <h2>{{ area.description }}</h2>

        <div class="row widget-area-sortable" data-toggle="sortable" data-url="{{ path('admin_widget_reorder') }}">
        {% for widget in area.widgets %}
            <div class="col-sm-5 widget" data-id="{{ widget.id }}">
                <a href="{{ path('admin_widget_update', {id:widget.id}) }}" class="thumbnail">
                    <h4>
                        {{ widget.title|default('[No Title]') }}
                        <small>({{ widget.name }})</small> <br>
                        <small>{{ widget.strategy.description|trans({}, 'widget') }}</small>
                    </h4>
                </a>
            </div>
        {% endfor %}
        </div>
    </section>
    {% endfor %}
</div>
{% endblock %}
