{% extends '@SymEdit/Blog/index.html.twig' %}

{% block heading '' %}

{% block blog_content %}
<article class="single blog-post">
    <h1 class="title">
        <a href="{{ path('blog_slug_view', {slug:post.slug}) }}">{{ post.title }}</a>
    </h1>

    <div class="clearfix">
        {% if post.image %}
            <div class="image">
                <img class="img-rounded" src="{{ post.image | imagine_filter('blog') }}" alt="{{ post.title }}" />
            </div>
        {% endif %}
        {{ post.content|raw }}
    </div>

    <div class="meta">
        <span class="author">
            {{ icon('pencil') }}

            {% set profile = post.author.profile %}
            {% if profile.social.google_plus is defined and profile.social.google_plus is not empty %}
                <a href="{{ profile.social.google_plus }}?rel=author"><img src="https://www.gstatic.com/images/icons/gplus-16.png" alt="{{ profile.fullname|plain }} on Google+"></a>
            {% endif %}

            <span>{{ post.author.profile.fullname }}</span>
        </span>

        <span class="date">
            {{ icon('time') }}
            <span>{{ post.publishedAt|date('F j, Y') }}</span>
        </span>
    </div>

    {% if post.published %}
    {% include '@SymEdit/Blog/comments.html.twig' %}
    {% endif %}
</article>
{% endblock %}
