{% extends '@SymEdit/Admin/base.html.twig' %}

{% block title %}Images &raquo; Sliders &raquo; List{% endblock %}

{% block content %}
    <div class="pull-right">
        <a class="btn btn-success" href="{{ path('admin_image_slider_create') }}">
            {{ icon('plus') }}
            Create Slider
        </a>
    </div>

    <h2>Listing Sliders</h2>

    {% for slider in sliders %}
    <div class="well">
        <div class="pull-right">
            <a class="btn btn-primary" href="{{ path('admin_image_slider_update', { 'id': slider.id }) }}">
                {{ icon('pencil') }}
                Edit Slider
            </a>
        </div>

        <h3 class="title">
            {{ slider.description }}
            <small>({{ slider.name }})</small>
        </h3>

        <div class="row">
        {% for slide in slider.slides %}
            <div class="col-sm-2">
                <a class="thumbnail" href="{{ path('admin_image_slider_slide_update', {id:slide.id}) }}">
                    <img class="img-polaroid" src="{{ slide.image.webpath|constrain({w:200,h:60}) }}" />
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
    {% endfor %}
{% endblock %}
