<div itemscope itemtype="http://schema.org/LocalBusiness">
    <address>
        {% set company = Settings.company %}
        {% if company.name is not empty %}<strong>{{ company.name }}</strong><br>{% endif %}
        {% if company.address is not empty %}<span itemprop="address">{{ Settings.company.address|nl2br }}</span> <br>{% endif %}
        {% if company.phone is not empty %}<span itemprop="telephone">{{ Settings.company.phone }}</span> <br>{% endif %}
        {% if company.email is not empty %}<span itemprop="email"><a href="mailto:{{ Settings.company.email }}">{{ Settings.company.email }}</a></span>{% endif %}
    </address>
</div>