{% set divider_str = '<span class="divider">' ~ divider|default('/') ~ '</span>' %}
<ul class="breadcrumb">
    {% for crumb in Breadcrumbs %}
        {% if loop.first %}
        <li>
            <a href="{{ path('homepage') }}">Home</a>
            {{ divider_str|raw }}
        </li>
        {% endif %}
        <li{% if loop.last %} class="active"{% endif %}>
            <a href="{{ path(crumb.path, crumb.params) }}">{{ crumb.title }}</a>
            {% if not loop.last %}
            {{ divider_str|raw }}
            {% endif %}        
        </li>
    {% else %}
        <li class="active">Home</li>
    {% endfor %}
</ul>