{% extends '@SymEdit/Blog/base.html.twig' %}

{% block title %}{% if author %}Posts by {{ author.profile.fullname }}{% else %}Author Not Found{% endif %}{% endblock %}
{% block description %}Blogs posts by {{ author.profile.fullname }}{% endblock %}

{% block blog_content %}
{% if author %}
    <h3>{{ author.profile.fullname }}</h3>

    <ul>
    {% for post in posts %}
        <li><a href="{{ path('blog_slug_view', {slug:post.slug}) }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <h3>Author Not Found</h3>
{% endif %}
{% endblock %}