{% extends '@SymEdit/Admin/base.html.twig' %}

{% block title %}Files &raquo; List{% endblock %}

{% block actions %}
    <a class="btn btn-primary" href="{{ path('admin_file_create') }}">
        {{ icon('plus') }}
        {{ 'symedit.form.file.actions.new'|trans }}
    </a>
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>URL</th>
                <th>Size</th>
                <th>Last Updated</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for file in files %}
                <tr>
                    <td>
                        <a href="{{ path('admin_file_update', {id:file.id}) }}">
                            {{ file.path }}
                        </a>
                    </td>

                    <td>
                        <a href="{{ file.webPath }}" target="_blank">
                            {{ file.webPath }}
                        </a>
                    </td>

                    <td>
                        {% if file.metadata.size is defined %}
                            {{ file|symedit_media_size }}
                        {% endif %}
                    </td>

                    <td>
                        {{ file.updatedAt|date }}
                    </td>

                    <td>
                        <a class="btn btn-xs btn-primary" href="{{ path('admin_file_update', {id:file.id}) }}">
                            Edit
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">
                        You currently have no files uploaded.
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
