{% extends '@SymEdit/Admin/base.html.twig' %}

{% block title %}Image Galleries &raquo; {{ image_gallery.slug }} &raquo; List{% endblock %}

{% block content %}
<div class="pull-right">
    <a class="btn btn-primary" href="{{ path('admin_gallery_item_create', { gallery_id: image_gallery.id }) }}">
        {{ icon('plus') }}
        Add Item
    </a>
</div>

<h2>
    {{ image_gallery.title }}
</h2>

<div class="row" id="gallery-items">
    {% for item in image_gallery.items %}
    <div data-id="{{ item.id }}" class="col-xs-2">
        <a href="{{ path('admin_gallery_item_update', { id: item.id }) }}" class="thumbnail">
            <img src="{{ item.image | imagine_filter('symedit_96x96') }}">
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        $(function(){
            function sortStop(e){
                $target = $(e.target);
                var order = 0;
                var pairs = {};
                $target.find('> [data-id]').each(function(){
                    pairs[$(this).data('id')] = order++;
                });

                $.ajax({
                    url: '{{ path('admin_gallery_item_reorder') }}',
                    data: { pairs: pairs },
                    type: 'POST'
                });
            }

            $('#gallery-items').sortable({
                update: sortStop
            }).disableSelection();
        });
    </script>
{% endblock %}
