{% extends '@SymEdit/Admin/base.html.twig' %}
{% import '@SymEdit/Admin/macro.html.twig' as macro %}

{% block title %}Images &raquo; {{ image.name }} &raquo; Edit{% endblock %}

{% block content %}

<div class="text-center well">
    <img class="img-polaroid" src="{{ image | imagine_filter('gallery') }}" />
</div>

{{ form_start(form, {attr: {class: 'form-horizontal'}}) }}
    {{ form_widget(form) }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Update Image</button>
        {{ macro.delete_button('image_delete', 'admin.image.actions.delete') }}
    </div>
{{ form_end(form) }}

{{ macro.delete_form('image_delete', path('admin_image_delete', {id: image.id})) }}
{% endblock %}