{% extends '@IsometriksSymEdit/base.html.twig' %}

{% block content %}
{% for area in areas %}
<div class="well">
    <h3>{{ area.area }} <small>{{ area.description }}</small></h3>
    
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Type</th>
        </tr>
    {% for widget in area.widgets %}
        <tr>
            <td>{{ widget.id }}</td>
            <td><a href="{{ path('admin_widget_edit', {id: widget.id}) }}">{{ widget.title }}</a></td>
            <td>{{ widget.strategy.description }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endfor %}
{% endblock %}