{% extends '@IsometriksSymEdit/Admin/base.html.twig' %}

{% block title %}Showing Widgets{% endblock %}
{% block heading '' %}

{% block content %}
{% for area in areas %}
<section class="widget-area">
    <h2>
        {{ area.description }}
        <small>{{ area.area }}</small>
    </h2>

    <div class="row">
    {% for widget in area.widgets %}
        <div class="col-md-3">
            <a href="{{ path('admin_widget_edit', {id:widget.id}) }}" class="thumbnail">
                <h4>
                    {{ widget.title|default('(No Title)') }} <br>
                    <small>{{ widget.strategy.description }}</small>
                </h4>
            </a>
        </div>
    {% endfor %}

        <div class="col-md-3">
            <a href="#" class="thumbnail">
                <h4>
                    <i class="icon-plus circle pull-left"></i> 
                    Add Widget <br>
                    <small>to "{{ area.area }}"</small>
                </h4>
            </a>
        </div>
    </div>
</section>
{% endfor %}
{% endblock %}