{% extends '@SymEdit/Admin/base.html.twig' %}

{% block title %}Blog &raquo; List{% endblock %}

{% block actions %}
<a class="btn btn-primary" href="{{ path('admin_post_create') }}">
    {{ icon('plus') }}
    {{ 'symedit.form.post.actions.new'|trans }}
</a>
{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th width="40"></th>
            <th>Title</th>
            <th>Created</th>
            <th>Published</th>
            <th>Categories</th>
            <th width="60">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for post in posts %}
            <tr>
                <td>{{ icon(post.published ? 'eye' : 'eye-slash') }}</td>
                <td><a href="{{ path('admin_post_update', { 'id': post.id }) }}">{{ post.title }}</a></td>
                <td>{{ post.createdAt|date('F j, Y') }}</td>
                <td>{{ post.published ? post.publishedAt|date('F j, Y') : 'Not Published' }}</td>
                <td>
                    {% for category in post.categories %}
                        <span class="label label-info">{{ category.title }}</span>
                    {% endfor %}
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{{ path('admin_post_update', { 'id': post.id }) }}">Edit</a>
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>

    <div>
        {{ pagerfanta(posts) }}
    </div>

{% endblock %}
