{% extends '@SymEdit/Page/base.html.twig' %}

{% block breadcrumbs '' %}

{% block content_container %}
<div class="container">
    <div class="user-action" id="content">
        {% block heading %}<h1>{% block heading_text %}{{ block('title') }}{% endblock %}</h1>{% endblock %}
        {% block fos_user_content %}{{ block('content') }}{% endblock %}
    </div>
</div>
{% endblock %}


{% block stylesheets %}
{{ parent() }}
{% stylesheets 'bundles/isometrikssymedit/redactor/redactor.css' %}
<link rel="stylesheet" href="{{ asset_url }}">
{% endstylesheets %}
{% endblock %}

{% block scripts %}
{{ parent() }}

{% javascripts 'bundles/isometrikssymedit/redactor/redactor.min.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script>
    $('.wysiwyg-editor').redactor();
</script>
{% endblock %}