{# Template Widget #}

{% macro template_list(templates, active, namespace, manager) %}
{% for key, template in templates %}

    {% if template is iterable %}
        <div>
            <h3>{{ mopa_bootstrap_icon('folder-open') }} {{ key }}</h3>
            {{ _self.template_list(template, active, namespace, manager) }}
            <br class="cf" />
        </div>
    {% else %}
        {% set layout = manager.getLayout(template) %}
        <div class="layout-container{% if active == ('@' ~ namespace ~ '/' ~ template.key) %} active {% endif %}"
             data-template-name="@{{ namespace }}/{{ template.key }}"
             data-content="{{ layout.description|default('(No Description)') }}"
             data-title="{{ layout.title|default(template.key) }}">

            {% for row in layout.rows|default([['w'],['w'],['w']]) %}
            <div class="row-container">
                <div class="r">
                    {% for col in row %}
                    <div class="{{ col }}"></div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}

        </div>
    {% endif %}
{% endfor %}
{% endmacro %}

{% block template_widget %}
    {% if display_layouts %}
        <div class="layout-holder">
            {{ _self.template_list(templates, form.vars.value, namespace, layout_manager) }}
            {{ block('hidden_widget') }}

            <br class="cf" />
        </div>
    {% else %}
        {{ block('choice_widget') }}
    {% endif %}
{% endblock %}
