{% extends '{{{ bundle }}}:Blog:index.html.twig' %}

{% block title %}{% if Author %}Posts by {{ Author.fullname }}{% else %}Author Not Found{% endif %}{% endblock %}
{% block description %}Blogs posts by {{ Author.fullname }}{% endblock %}

{% block blog_content %}
{% if Author %}
    <h3>{{ Author.fullname }}</h3>
    
    <ul>
    {% for Post in Author.posts %}
        <li><a href="{{ path('blog_slug_view', {slug:Post.slug}) }}">{{ Post.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <h3>Author Not Found</h3>
{% endif %}
{% endblock %}