{% extends '{{{ bundle }}}:Page:base.html.twig' %}

{% block heading %}
<h1>{% block blog_title %}{{ Page.tagline }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div id="blog-content">
    <div class="row">
        <div class="span9">
            {% block blog_content %}
                {{ render(controller('IsometriksSymEditBundle:Blog:recent')) }}
            {% endblock %}
            {% if Pages is defined and Pages.num > 1 %}
                {% include '{{{ bundle }}}:Blog:paginate.html.twig' %}
            {% endif %}
        </div> 
        <div class="span3">
            {% include '{{{ bundle }}}:Blog:categories.html.twig' %}
        </div>
    </div>
</div>
{% endblock %}