{% extends '{{{ bundle }}}:Blog:index.html.twig' %}

{% block title %}{{ SEO.title|default(Post.title) }}{% endblock %}
{% block description %}{{ SEO.description|default(Post.content|striptags|slice(0,150)) }}{% endblock %}

{% block heading '' %}

{% block blog_content %}
<article class="single" itemscope itemtype="http://schema.org/BlogPosting">
    <h1>
        <a itemprop="name" href="{{ path('blog_slug_view', {slug:Post.slug}) }}">{{ Post.title }}</a>
    </h1>
        
    <div class="meta">
        <span class="author">
            <i class="icon-pencil"></i>
            
            {% if Post.author.social.gplus %}
                <a href="{{ Post.author.social.gplus }}?rel=author"><img src="https://www.gstatic.com/images/icons/gplus-16.png" alt="{{ Post.author.fullname|plain }} on Google+"></a>
            {% endif %}            
            
            <a itemprop="author" href="{{ path('blog_author_view', { username: Post.author.username }) }}">{{ Post.author.fullname }}</a>
        </span>
        
        <span class="date">
            <i class="icon-time"></i>
            <span itemprop="dateCreated">{{ Post.createdAt|date('F j, Y') }}</span>
        </span>
    </div>
        
    <div itemprop="articleBody">
        {% if Post.image %}
            <div class="image">
                <img class="img-polaroid" itemprop="image" src="{{ Post.image.webpath|constrain({w:300,h:400}) }}" alt="{{ Post.title }}" />
            </div>
        {% endif %}
        {{ Post.content|raw }}
    </div>
        
    {% if Post.published %}
    {% include '{{{ bundle }}}:Blog:comments.html.twig' %}
    {% endif %}
</article>
{% endblock %}