{% extends '@SymEdit/Admin/tabbed.html.twig' %}

{% block title %}Showing Widgets{% endblock %}

{% block tabs %}
<ul class="nav nav-tabs">
    {% for area in areas %}
    <li{% if loop.first %} class="active"{% endif %}>
        <a href="#area_{{ area.area }}" data-toggle="tab">{{ area.area|capitalize }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}


{% block form_actions %}
<a href="{{ path('admin_widget_choose') }}" class="btn btn-primary btn-block">
    {{ icon('plus') }}
    {{ 'symedit.form.widget.actions.new'|trans }}
</a>
{% endblock %}

{% block tab_content %}
<div class="tab-content">
    {% for area in areas %}
    <section id="area_{{ area.area }}" class="{% if loop.first %}active {% endif %}tab-pane widget-area">
        <h4>{{ area.description }}</h4>

        <table class="table table-striped table-bordered" id="widgets-{{ area.area }}">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody class="widget-area-sortable" data-toggle="sortable" data-url="{{ path('admin_widget_reorder') }}">
            {% for widget in area.widgets %}
                <tr class="draggable" data-id="{{ widget.id }}">
                    <td>
                        <a href="{{ path('admin_widget_update', {id:widget.id}) }}">
                            {{ widget.title|default('[No Title]') }}
                        </a>
                    </td>

                    <td>
                        {{ widget.name }}
                    </td>

                    <td>
                        {{ registry.getStrategy(widget.strategyName).description|trans({}, 'widget') }}
                    </td>

                    <td>
                        <a class="btn btn-primary btn-xs" href="{{ path('admin_widget_update', {id:widget.id}) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </div>
        </table>
    </section>
    {% endfor %}
</div>
{% endblock %}
