{% extends '@SymEdit/Blog/base.html.twig' %}

{% block title %}{{ SEO.title|default(Category.title) }}{% endblock %}
{% block description %}{{ SEO.description|default('Blog posts in ' ~ Category.title) }}{% endblock %}

{% block meta %}
{{ parent() }}
<link href="{{ url('blog_category_rss', {slug:Category.slug}) }}" rel="alternate" type="application/rss+xml" title="{{ block('title') }}">
{% endblock %}

{% block blog_title %}
Category &raquo; {{ Category.title }}
<a href="{{ path('blog_category_rss', {slug:Category.slug}) }}">
    <img src="{{ asset('/bundles/isometrikssymedit/img/social/rss.png') }}" alt="{{ Page.tagline }} - {{ Category.title }} - RSS Feed">
</a>
{% endblock %}

{% block blog_content %}
    {% if Posts|length > 0 %}
        {% include '@SymEdit/Blog/list.html.twig' %}
    {% else %}
        There are currently no posts for this category.
    {% endif %}

    {{ knp_pagination_render(Posts) }}
{% endblock %}