<article class="summary blog-post">
    <h3 class="title">
        <a href="{{ path('blog_slug_view', {slug: Post.slug}) }}">{{ Post.title }}</a>
        <small>
            Posted by <a href="{{ path('blog_author_view', { username: Post.author.username }) }}">{{ Post.author.profile.fullname }}</a>
            on {{ Post.createdAt|date('F j, Y') }}
        </small>
    </h3>     
    
    <div class="row">
        {% if Post.image %}
        <div class="col-md-3">
            <img class="img-rounded" src="{{ Post.image.webpath|constrain({w:200,h:400}) }}" alt="{{ Post.title }}" />
        </div>
        {% endif %}
        
        <div class="{{ Post.image ? 'col-md-9' : 'col-md-12' }}">
            <div class="summary">
                {% if Post.summary %}
                    {{ Post.summary|raw }}
                {% else %}
                    {{ Post.content|plain(350, '...') }}
                {% endif %}
            </div>         
            <div class="clearfix">
                <a class="read-more btn btn-default btn-sm" href="{{ path('blog_slug_view', { slug: Post.slug }) }}">Read Article &raquo;</a>     
            </div>
        </div>   
    </div>     
</article>