{% extends 'IsometriksSymEditBundle::tabbed.html.twig' %}

{% block title %}Settings{% endblock %}

{% block action %}{{ path('admin_setting_update') }}{% endblock %}

{% block tabs %}
{% for group in form.groups %}
<li{% if loop.first %} class="active"{% endif %}>
    <a href="#setting-{{ group.vars.name }}" data-toggle="tab">{{ group.vars.label }}</a>
</li>
{% endfor %}
{% endblock %}

{% block tab_content %}
{% for group in form.groups %}
    <div class="tab-pane{% if loop.first %} active{% endif %}" id="setting-{{ group.vars.name }}">
        {{ form_widget(group) }}
    </div>
{% endfor %}
{% endblock %}


{% block form_actions %}
<button type="submit" class="btn btn-block btn-primary">Update Settings</button>
{% endblock %}