{% extends '@SymEdit/Admin/tabbed.html.twig' %}

{% block title %}Stylizer &raquo; Edit Styles{% endblock %}

{% block action %}{{ path('admin_stylizer') }}{% endblock %}

{% block tabs %}
{% if form.groups|length > 0 %}
<ul class="nav nav-tabs">
    {% for group in form.groups %}
    <li{% if loop.first %} class="active"{% endif %}>
        <a href="#group-{{ group.vars.name }}" data-toggle="tab">
        {% if group.vars.extra.icon is defined %}
            {{ icon(group.vars.extra.icon) }}
        {% endif %}
            {{ group.vars.label }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block tab_content %}
{% if form.groups|length > 0 %}
<div class="tab-content">
{% for group in form.groups %}
    <div class="tab-pane{% if loop.first %} active{% endif %}" id="group-{{ group.vars.name }}">
        {{ form_widget(group) }}
    </div>
{% endfor %}
</div>
{% else %}
    There are no available styles to edit.
{% endif %}
{% endblock %}


{% block form_actions %}
{% if form.groups|length > 0 %}
    <button class="btn btn-primary" type="submit">
        {{ icon('save') }}
        Save
    </button>

    {% if app.environment == 'prod' %}
        <button name="dump" type="submit" class="btn btn-info">Save and Dump</button>
    {% endif %}
{% endif %}
{% endblock %}
