{% extends '@SymEdit/Admin/base.html.twig' %}

{% block title %}Welcome, {{ app.user.profile.firstname }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="row dashboard">
            <div class="col-md-4">
                <h3><i class="circle icon-cog"></i> Setup</h3>

                <ul>
                    {% if is_granted('ROLE_ADMIN_SETTING') %}<li><a href="{{ path('admin_settings') }}">Change Site Settings</a></li>{% endif %}
                    {% if is_granted('ROLE_ADMIN_USER')    %}<li><a href="{{ path('admin_user') }}">Create Users</a></li>{% endif %}
                    {% if is_granted('ROLE_ADMIN_BLOG')    %}<li><a href="{{ path('admin_category') }}">Create Blog Categories</a></li>{% endif %}
                </ul>
            </div>

            <div class="col-md-4">
                <h3><i class="circle icon-pencil"></i> Content Updates</h3>

                <ul>
                    {% if is_granted('ROLE_ADMIN_BLOG')  %}<li><a href="{{ path('admin_post_create') }}">Post New Blog</a></li>{% endif %}
                    {% if is_granted('ROLE_ADMIN_PAGE')  %}<li><a href="{{ path('admin_page') }}">Edit Page Content</a></li>{% endif %}
                    {% if is_granted('ROLE_ADMIN_IMAGE') %}<li><a href="{{ path('admin_image') }}">Upload / Edit Images</a></li>{% endif %}
                    {% if is_granted('ROLE_ADMIN_WIDGET') %}
                    <li><a href="{{ path('admin_widget') }}">View / Rearrange Widgets</a></li>
                    <li><a href="{{ path('admin_widget_choose') }}">Create New Widget</a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="col-md-4">
                <h3><i class="circle icon-check"></i> {{ app.user.profile.firstname }}'s Actions</h3>

                <ul>
                    <li><a href="{{ path('fos_user_profile_show') }}">View Profile</a></li>
                    <li><a href="{{ path('fos_user_profile_edit') }}">Edit Profile</a></li>
                    <li><a href="{{ path('fos_user_change_password') }}">Change Password</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        {% include '@SymEdit/Admin/Dashboard/popular.html.twig' with {span: 'col-sm-12'} %}
    </div>
</div>
{% endblock %}
