{% extends '@SymEdit/Admin/base.html.twig' %}

{% block title %}Welcome, {{ app.user.profile.firstname }}{% endblock %}

{% block content %}
<div class="ui grid">
    <div class="ten wide column">
        <div class="ui three column grid dashboard">
            <div class="column">
                <h3>Setup</h3>

                <div class="ui vertical menu">
                    {% if is_granted('ROLE_ADMIN_SETTING') %}<a class="item" href="{{ path('admin_settings') }}">Change Site Settings</a>{% endif %}
                    {% if is_granted('ROLE_ADMIN_USER')    %}<a class="item" href="{{ path('admin_user') }}">Create Users</a>{% endif %}
                    {% if is_granted('ROLE_ADMIN_BLOG')    %}<a class="item" href="{{ path('admin_category') }}">Create Blog Categories</a>{% endif %}
                </div>
            </div>

            <div class="column">
                <h3>Content Updates</h3>

                <div class="ui vertical menu">
                    {% if is_granted('ROLE_ADMIN_BLOG')  %}<a class="item" href="{{ path('admin_post_create') }}">Post New Blog</a>{% endif %}
                    {% if is_granted('ROLE_ADMIN_PAGE')  %}<a class="item" href="{{ path('admin_page') }}">Edit Page Content</a>{% endif %}
                    {% if is_granted('ROLE_ADMIN_IMAGE') %}<a class="item" href="{{ path('admin_image') }}">Upload / Edit Images</a>{% endif %}
                    {% if is_granted('ROLE_ADMIN_WIDGET') %}
                    <a class="item" href="{{ path('admin_widget') }}">View / Rearrange Widgets</a>
                    <a class="item" href="{{ path('admin_widget_choose') }}">Create New Widget</a>
                    {% endif %}
                </div>
            </div>

            <div class="column">
                <h3>{{ app.user.profile.firstname }}'s Actions</h3>

                <div class="ui vertical menu">
                    <a class="item" href="{{ path('fos_user_profile_show') }}">View Profile</a>
                    <a class="item" href="{{ path('fos_user_profile_edit') }}">Edit Profile</a>
                    <a class="item" href="{{ path('fos_user_change_password') }}">Change Password</a>
                    <a class="item" href="{{ path('fos_user_security_logout') }}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div class="six wide column">
        {% include '@SymEdit/Admin/Dashboard/popular.html.twig' %}
    </div>
</div>
{% endblock %}
