{% extends '@SymEdit/Admin/base.html.twig' %}

{% block title %}Images &raquo; List{% endblock %}

{% set columns = 6 %}

{% block actions %}
    <a class="btn btn-primary" href="{{ path('admin_image_create') }}">
        {{ icon('upload') }}
        {{ 'symedit.form.image.actions.new'|trans }}
    </a>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row" id="images">
            {% for image in images %}
                <div class="col-sm-{{ 12 / columns }} thumbnail-container">
                    <a class="thumbnail symedit-gallery-thumbnail" href="{{ path('admin_image_update', {id:image.id}) }}">
                        <img src="{{ image | imagine_filter('gallery_thumbnail') }}">

                        {% set metadata = image.metadata %}

                        <div class="metadata">
                            {% if metadata.width is defined and metadata.height is defined %}
                                <span class="dimensions">
                                    {{ metadata.width }} x {{ metadata.height }}
                                </span>
                            {% endif %}

                            {% if metadata.size is defined %}
                                <span class="size">
                                    ({{ image|symedit_media_size }})
                                </span>
                            {% endif %}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
