{% extends '@SymEdit/Admin/tabbed.html.twig' %}

{% block title %}Settings{% endblock %}

{% block tabs %}
<ul class="nav nav-tabs">
{% for group in form.children if group|length > 0 %}
<li{% if loop.first %} class="active"{% endif %}>
    <a href="#setting-{{ group.vars.name }}" data-toggle="tab">{{ ('symedit.settings.tabs.' ~ group.vars.name)|trans }}</a>
</li>
{% endfor %}
</ul>
{% endblock %}

{% block tab_content %}
<div class="tab-content">
{% for group in form.children if group|length > 0 %}
    <div class="tab-pane{% if loop.first %} active{% endif %}" id="setting-{{ group.vars.name }}">
        {{ form_widget(group) }}
    </div>
{% endfor %}
</div>
{% endblock %}


{% block form_actions %}
<button type="submit" class="btn btn-primary">
    {{ icon('save') }}
    Update Settings
</button>
{% endblock %}
