{% extends '@SymEdit/Admin/tabbed.html.twig' %}
{% import '@SymEdit/Admin/UI/macro.html.twig' as UI %}

{% block title %}Settings{% endblock %}

{% block form_actions %}
    {{ UI.save_button('Update Settings') }}
{% endblock %}

{% block tabs %}
<div class="ui top attached tabular menu">
    {% for group in form.children if group|length > 0 %}
    <a class="item{% if loop.first %} active{% endif %}" data-tab="setting-{{ group.vars.name }}">
        {{ ('symedit.settings.tabs.' ~ group.vars.name)|trans }}
    </a>
    {% endfor %}
</div>
{% endblock %}

{% block content %}
    {% for group in form.children if group|length > 0 %}
        <div class="ui bottom attached tab{% if loop.first %} active{% endif %}" data-tab="setting-{{ group.vars.name }}">
            {{ form_widget(group) }}
        </div>
    {% endfor %}
{% endblock %}

