{% block symedit_template_widget %}
<div class="layout-holder well">
{% for layout in layouts %}
    <div class="layout-container{% if layout.active %} active{% endif %}" data-template-name="{{ layout.template }}" data-content="{{ layout.description }}" data-title="{{ layout.title }}">
        {% for row in layout.rows %}
        <div class="r">
            {% for col in row %}
            <div class="{{ col }}"></div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
{% endfor %}


    {{ block('hidden_widget') }}

    <br class="cf" />
</div>
{% endblock %}