{% extends '@SymEdit/Admin/base.html.twig' %}

{% block title %}Form Builder &raquo; List{% endblock %}

{% block actions %}
<a class="ui button positive small" href="{{ path('admin_form_create') }}">
    {{ icon('plus') }}
    {{ 'symedit.form.form_builder.actions.new'|trans }}
</a>
{% endblock %}

{% block content %}
    <table class="ui table celled">
        <thead>
            <tr>
                <th>Legend</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for form_builder in form_builders %}
            <tr>
                <td>{{ form_builder.legend }}</td>
                <td>{{ form_builder.name }}</td>
                <td>
                    <div class="ui buttons tiny">
                        <a class="ui button blue labeled icon" href="{{ path('admin_form_show', { 'id': form_builder.id }) }}">
                            <i class="list layout icon"></i>
                            {{ 'symedit.form.form_builder.actions.manage'|trans }}
                        </a>
                        <a class="ui button icon" href="{{ path('admin_form_update', { 'id': form_builder.id }) }}">
                            <i class="pencil icon"></i>
                            Edit
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
        {{ pagerfanta(form_builders, 'semantic_ui') }}
    </div>
{% endblock %}
