<div id="slider-{{ gallery.slug }}" class="carousel slide{{ stretch|default(false) ? ' stretch' : '' }}">
    <ol class="carousel-indicators">
        {% for slide in gallery.items %}
        <li data-target="#slider-{{ gallery.slug }}" data-slide-to="{{ loop.index0 }}"{% if loop.first %} class="active"{% endif %}></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for slide in gallery.items %}
            <div class="item{% if loop.first %} active{% endif %}">
                <img src="{{ slide.image.webpath }}" alt="{{ (slide.caption|default('slider ' ~ loop.index))|plain }}">
                {#
                {% if slide.caption %}
                <div class="carousel-caption{% if slide.position %} {{ slide.position }}{% endif %}">
                    {{ slide.caption }}
                </div>
                {% endif %}
                #}
            </div>
         {% endfor %}
    </div>

    {% if controls|default(false) %}
    <a class="left carousel-control" href="#slider-{{ gallery.slug }}" data-slide="prev">
        {{ mopa_bootstrap_icon('chevron-left icon-prev') }}
    </a>
    <a class="right carousel-control" href="#slider-{{ gallery.slug }}" data-slide="next">
        {{ mopa_bootstrap_icon('chevron-right icon-next') }}
    </a>
    {% endif %}
</div>
{% if thumbnails|default(false) %}
<div class="row">
    {% for slide in gallery.items %}
    <div class="col-xs-6 col-md-3">
        <a class="thumbnail" href="#" data-target="#slider-{{ gallery.slug }}" data-slide-to="{{ loop.index0 }}">
            <img src="{{ slide.image | imagine_filter('gallery_thumbnail') }}" />
        </a>
    </div>
    {% endfor %}
</div>
{% endif %}
