{% extends '@SymEdit/Page/base.html.twig' %}

{% block heading %}
    <h1>{{ event.title }}</h1>
{% endblock %}

{% block content %}
    <div itemscope itemtype="http://schema.org/Event">
        <meta itemprop="name" content="{{ event.title }}">

        {% if event.showMap %}
            {% include '@SymEdit/CMS/map.html.twig' with { query: event.address } %}
        {% endif %}

        <h4>Address</h4>
        <address class="location" itemprop="location">
            {{ event.address|nl2br }}
        </address>

        <h4>Description</h4>
        <div class="description" itemprop="description">
            {{ event.description|shortcode|raw }}
        </div>

        <h4>Time</h4>
        <div class="time">
            <div class="startDate">
                <time itemprop="startDate" datetime="{{ event.eventStart|date('c') }}">
                    {{ event.eventStart|date('F jS Y - g:ia T') }}
                </time>
            </div>

            {% if event.eventEnd %}
            <div class="endDate">
                <time itemprop="endDate" datetime="{{ event.eventEnd|date('c') }}">
                    {{ event.eventEnd|date('F jS Y - g:ia T') }}
                </time>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
