{% extends '@SymEdit/Page/base.html.twig' %}

{% block heading %}
    <h1>{{ event.title }}</h1>
{% endblock %}

{% block content %}
    <div class="event">
        {% if event.image %}
            <img src="{{ event.image.webPath }}" alt="{{ event.title }}" class="img-responsive" />
        {% endif %}

        {% if event.showMap %}
            {% include '@SymEdit/CMS/map.html.twig' with { query: event.address } %}
        {% endif %}

        <h4>Address</h4>
        <address class="location">
            {{ event.address|nl2br }}
        </address>

        <h4>Description</h4>
        <div class="description">
            {{ event.description|shortcode|raw }}
        </div>

        <h4>Time</h4>
        <div class="time">
            <div class="startDate">
                <time datetime="{{ event.eventStart|date('c') }}">
                    {{ event.eventStart|date('F jS Y - g:ia T') }}
                </time>
            </div>

            {% if event.eventEnd %}
            <div class="endDate">
                <time datetime="{{ event.eventEnd|date('c') }}">
                    {{ event.eventEnd|date('F jS Y - g:ia T') }}
                </time>
            </div>
            {% endif %}
        </div>

        {% if event.file %}
        <h5>Attachment</h5>
        <div class="attachment">
            <a href="{{ event.file.webPath }}" target="_blank" class="btn btn-primary">
                View Attachment
            </a>

            <small class="text-muted">
                ({{ event.file.path }} - {{ event.file|symedit_media_size }})
            </small>
        </div>
        {% endif %}
    </div>
{% endblock %}
