<div id="basic" class="tab-pane active">
    {{ form_widget(form.basic) }}
</div>

<div id="image" class="tab-pane">
    <div class="row-fluid">
        <div class="span6">
            {{ form_widget(form.image) }}
        </div>
        <div class="span6">
            {% if entity.image %}
            <div class="well">
                <img class="img-polaroid" src="{{ entity.image|constrain({h:200}) }}" />
            </div>
            {% endif %}
        </div>
    </div>                    
</div>

<div id="biography" class="tab-pane">
    {{ form_widget(form.biography) }}
</div>

<div id="roles" class="tab-pane">
    {{ form_widget(form.roles) }}
</div>